{% macro chatUrl(page, currentLang, urls) %}
    {# Macro to compute the chat URL #}
    {% set formAction = page.url | replace('/' + currentLang + '/', '') | replace('/', '') %}
    {% set chatKey = urls[formAction].url %}
    
    {{ chatKey | default('#') }}
{% endmacro %}