{% macro chatUrl(page, currentLang, urls) %}
    {# Macro to compute the chat URL #}
    {% set formAction = page.url | replace('/' + currentLang + '/', '') | replace('/', '') %}
    {% set chatUrl = urls[formAction].url %}

    {{ chatUrl | default('#') }}
{% endmacro %}